<?xml version="1.0" encoding="UTF-8"?>
<Context>

  <WatchedResource>WEB-INF/web.xml</WatchedResource>
  <WatchedResource>${catalina.base}/conf/web.xml</WatchedResource>

  <Resource name="${jndi.name}" auth="Container" type="javax.sql.DataSource"
    driverClassName="${jdbc.driver}" url="${jdbc.url}"
    username="${jdbc.username}" password="${jdbc.password}"
    maxActive="${conn.maxActive}" maxIdle="${conn.maxIdle}" minIdle="${conn.minIdle}"
    initialSize="${conn.initialSize}" maxWait="${conn.maxWait}"
    testOnBorrow="${conn.testOnBorrow}" testOnConnect="${conn.testOnConnect}"
    testOnReturn="${conn.testOnReturn}" testWhileIdle="${conn.testWhileIdle}"
    timeBetweenEvictionRunsMillis="${conn.timeBetweenEvictionRunsMillis}"
    minEvictableIdleTimeMillis="${conn.minEvictableIdleTimeMillis}"
    removeAbandoned="${conn.removeAbandoned}"
    removeAbandonedTimeout="${conn.removeAbandonedTimeout}"
    logAbandoned="${conn.logAbandoned}"/>
</Context>